<%- include('header'); -%>
    <script language="javascript">
        function doSearch() {
            const tableReg = document.getElementById('datos');
            const searchText = document.getElementById('searchTerm').value.toLowerCase();
            let total = 0;

            // Recorremos todas las filas con contenido de la tabla
            for (let i = 1; i < tableReg.rows.length; i++) {
                // Si el td tiene la clase "noSearch" no se busca en su cntenido
                if (tableReg.rows[i].classList.contains("noSearch")) {
                    continue;
                }

                let found = false;
                const cellsOfRow = tableReg.rows[i].getElementsByTagName('td');
                // Recorremos todas las celdas
                for (let j = 0; j < cellsOfRow.length && !found; j++) {
                    const compareWith = cellsOfRow[j].innerHTML.toLowerCase();
                    // Buscamos el texto en el contenido de la celda
                    if (searchText.length == 0 || compareWith.indexOf(searchText) > -1) {
                        found = true;
                        total++;
                    }
                }
                if (found) {
                    tableReg.rows[i].style.display = '';
                } else {
                    // si no ha encontrado ninguna coincidencia, esconde la
                    // fila de la tabla
                    tableReg.rows[i].style.display = 'none';
                }
            }

            // mostramos las coincidencias
            const lastTR = tableReg.rows[tableReg.rows.length - 1];
            const td = lastTR.querySelector("td");
            lastTR.classList.remove("hide", "red");
            if (searchText == "") {
                lastTR.classList.add("hide");
            } else if (total) {
                td.innerHTML = "Se ha encontrado " + total + " coincidencia" + ((total > 1) ? "s" : "");
            } else {
                lastTR.classList.add("red");
                td.innerHTML = "No se han encontrado coincidencias";
            }
        }
    </script>
    <div class="content">

        <div style="padding: 3%;">
            Buscar Log de evento <small>Puedes hacerlo por fecha evento o algo similar a su descripcion</small> 
            <br>
            <form>
                <input id="searchTerm" placeholder="Search" type="text" style="color: white; background-color: rgb(46, 46, 46); border-radius: 8px; " onkeyup="doSearch()" />
            </form>
            <br>
            <a href="/panel/logs/logdelete/all/<%= user.id %> " class="btn btn-danger">Delete ALL</a>
            <br>
            <hr>
            <table class="table table-dark" style="padding: 15px;" id="datos">
                <thead>
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Description</th>
                        <th scope="col">Event</th>
                        <th scope="col">Date</th>
                        <th scope="col">Time</th>
                        <th scope="col">Action</th>

                    </tr>
                </thead>
                <tbody>
                    <% for (let i = 0; i < logsdata.length; i++) { %>

                        <tr>
                            <th scope="row" class="noSearch"><%= logsdata[i].id %></th>
                            <td><%= logsdata[i].description %></td>
                            <td><%= logsdata[i].event %></td>
                            <td><%= logsdata[i].date %></td>
                            <td><%= logsdata[i].time %></td>
                            <td><a class="btn btn-danger" href="/panel/logs/logdelete/<%= logsdata[i].id %>/<%= user.id %> ">Delete Log</a></td>
                        </tr>

                    <% } %> 
                    <tr class='noSearch hide'>
                        <td colspan="5"></td>
                    </tr>
                </tbody>
            </table>
        </div>

    </div>



    <%- include('footer'); -%>