<%- include('header') %>

<div class="content">

    <center><img src="/FIVE_PANEL_LOGO.png" class="bnimg"></center>

    <center><h1><%= title %></h1></center>
    <center><p><%= message %> </p></center>
    <!-- <center><p id="count"><%= //redirect %> </p></center> -->
    <center><a href="/" class="btn btn-primary">Return to main page</a></center>

</div>


<%- include('footer') %> 